# python cache
.cache/
__pycache__/**/*
__pycache__
*.pyc

# python distribution
build/**/*
build
dist/**/*
dist
*.egg-info/**/*
*.egg-info
.eggs/**/*
.eggs
src/**/*
src/
notebooks/
.maint/
.maint/**/*

# git
.github/
.gitignore
.gitattributes
.git/**/*
.git

Makefile
