[submodule "giga_connectome/tests/data/ds000228-fmriprep"]
	path = giga_connectome/tests/data/ds000228-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds000228-fmriprep.git
[submodule "giga_connectome/tests/data/ds003007-fmriprep"]
	path = giga_connectome/tests/data/ds003007-fmriprep
	url = https://github.com/OpenNeuroDerivatives/ds003007-fmriprep.git
