# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude_types: [svg]
    -   id: check-yaml
    -   id: check-added-large-files
        args: ['--maxkb=1000']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
    -   id: mypy
        additional_dependencies: [types-all, pandas-stubs, types-tqdm]
        args: [--config-file=pyproject.toml]
-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    -   id: black
-   repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    -   id: codespell
        additional_dependencies:
        - tomli
        args: ["--skip=*.svg"]
        exclude: 'paper/.*'
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
    -   id: flake8
-   repo: https://github.com/hadolint/hadolint
    rev: v2.13.0-beta
    hooks:
    -   id: hadolint-docker
        name: Lint Dockerfiles
        description: Runs hadolint Docker image to lint Dockerfiles
        language: docker_image
        types: [dockerfile]
        entry: ghcr.io/hadolint/hadolint hadolint
ci:
    skip: [hadolint-docker]
